tangible/PaintSurface/obj/Debug/App.g.cs
tangible/PaintSurface/obj/Debug/App.g.i.cs
tangible/PaintSurface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tangible/PaintSurface/obj/Debug/empty.g.cs
tangible/PaintSurface/obj/Debug/empty.g.i.cs
tangible/PaintSurface/obj/Debug/PaintSurface.csproj.FileListAbsolute.txt
tangible/PaintSurface/obj/Debug/PaintSurface.csproj.GenerateResource.Cache
tangible/PaintSurface/obj/Debug/PaintSurface.csprojResolveAssemblyReference.cache
tangible/PaintSurface/obj/Debug/PaintSurface.g.resources
tangible/PaintSurface/obj/Debug/PaintSurface.pdb
tangible/PaintSurface/obj/Debug/PaintSurface_Content.g.cs
tangible/PaintSurface/obj/Debug/PaintSurface_Content.g.i.cs
tangible/PaintSurface/obj/Debug/PaintSurface_MarkupCompile.cache
tangible/PaintSurface/obj/Debug/PaintSurface_MarkupCompile.i.cache
tangible/PaintSurface/obj/Debug/SurfaceWindow1.baml
tangible/PaintSurface/obj/Debug/SurfaceWindow1.g.cs
tangible/PaintSurface/obj/Debug/SurfaceWindow1.g.i.cs
